<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">

	<!-- console stdout -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %-5p %c{2} (%F:%L) - %m%n" />
		</layout>
	</appender>

	<!--  -->
	<logger name="org.springframework.context" additivity="false">
		<level value="warn" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.springframework.batch" additivity="false">
		<level value="warn" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root>
		<priority value="warn" />
		<appender-ref ref="STDOUT" />
	</root>

</log4j:configuration>
